@{
    ViewData["Title"] = "Home Page";
}

    @ViewData["midato"]
  
    <div class="newspaper">
  <div class="column"  style="background-color:coral; border: solid 1px rgb(253, 155, 193);  position: relative;border-radius:20px; " >
      
      <h3>Acerca de Nosotros </h3>
      <p>Somos una empresa familiar destinadas a explotar tus papilas gustativas. 
         Somos expertos en en area de la cocina con años de experiencia. Nuestra meta es hacer
         que te lleves una experiencia llena de buen sazón.
      </p>
  </div>
  <div class="column" style=" text-align: center;" >
      <img style="height: 50%; width: 70%;"src="https://img.freepik.com/foto-gratis/manos-sosteniendo-plato-fajita-comida-mexicana_181624-35102.jpg?w=900&t=st=1663339270~exp=1663339870~hmac=112d10b52a6a64a24776425c25de215b9fc4f36923956424fcdde69812b09a6f">
   </div>
  <div class="column"  style="background-color:coral;  border: solid 1px rgb(253, 155, 193);  position: relative;border-radius:20px;">
    <h3>Nuestros Valores</h3>
   <ul>

<li> Amor</li>
<li> Respeto </li>
<li> Higiene </li>
<li> Responsabilidad </li>

</ul>
</div>
</div>

 